<header>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {{!-- <span>Welcome, Bob!</span>
    <a href="/logout">[Logout]</a> for user --}}
</header>

{{!-- use hbs if statement for user --}}