<header>
    {{#if data.validUser._id}}
    <span>Welcome, Bob!</span>
    <a href="/logout">[Logout]</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {{/if}}
</header>

{{!-- use hbs if statement for user --}}