<nav>
    <a href="/">Main Page</a>
    <a href="/all-articles">All Articles</a>
    <form>
        <input type="text">
        <input type="submit" value="Search">
    </form>
    <a href="/create-article">Create New Article</a>
</nav>

{{!-- need hbs if statement for user --}}