<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.jpg" />
</head>

<body>
    <div>
        <aside>
            <div class="center">
                <img class="logo" src="/img/logo.png" alt="logo">
            </div>

            <nav>
                <a href="/">Main Page</a>
                <a href="/all-articles">All Articles</a>
                <form>
                    <input type="text">
                    <input type="submit" value="Search">
                </form>
                <a href="/create-article">Create New Article</a>
            </nav>
        </aside>
        <div id="container">
            {{> headerGuest}}
            <main>
                {{{body}}}
            </main>
            {{> footer}}
        </div>
    </div>
</body>

</html>