{{#with data}}

<h1>Welcome to KingUni Wiki!</h1>
<div class="spacer">
    <h2>{{article.title}}
        {{#if validUser._id}}
        <div class="controls">
            <a href="/all-articles/edit-article/{{_id}}">[edit]</a>
            <a href="/all-articles/delete-article/{{_id}}">[delete]</a> 
        </div>
        {{/if}}
    </h2>
    <article>
        {{> paragraphElem}}
    </article>
</div>

{{/with}}