<h1>Welcome to KingUni Wiki!</h1>
<section id="notifications">
    <p>Article description should be at least 20 characters long...</p>
</section>
<section>
    <h2>Create new article</h2>
    <div class="spacer">
        <form action="/createArticle" method="POST">
            <label>Article title</label>
            <input type="text" class="title" />
            <label>Content</label>
            <textarea></textarea>
            <input type="submit" value="Submit" />
        </form>
    </div>
</section>
