<main>
  <img
    id="sadFaceImg"
    src="https://thumbs.dreamstime.com/b/sad-face-doodle-icon-vector-illustration-color-184934100.jpg"
    alt="sad face"
  />
  <h1>404</h1>
  <h2>Page not found</h2>
</main>
