<h1>Welcome to KingUni Wiki!</h1>
{{!-- {{> notify}} error handling --}}
<section>
    <h2>Login</h2>
    <div class="spacer">
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" placeholder="Username" name="username" value="">
            <label for="password">Password:</label>
            <input type="password" placeholder="Password" name="password" value="">
            <input type="submit" value="Login">
        </form>
    </div>
</section>