<h1>Welcome to KingUni Wiki!</h1>
<section id="notifications">
    <p>Both passwords should be the same...</p>
</section>
<section>
    <h2>Register</h2>
    <div class="spacer">
        <form action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" placeholder="Username" name="username" value="" />
            <label for="password">Password:</label>
            <input type="password" placeholder="Password" name="password" value="" />
            <label for="repeatPassword">Repeat password:</label>
            <input type="password" placeholder="Repeat-Password" name="repeatPassword" value="" />
            <input type="submit" value="Register" />
        </form>
    </div>
</section>
